<!DOCTYPE html>
<html lang="pl" ng-app="forum">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="dist/index.js"></script>
    <link rel="stylesheet" href="dist/index.css">
</head>
<body ng-controller="main">
    <div ng-show="dodajKategorieOkno" class="dodajKategorieOkno">
        <div>
            <div class="bar">
                <span ng-click="dodajKategorieOkno = false">&times;</span>
            </div>
            <label>
                Nazwa kategorii: <input type="text" ng-model="nowaKategoria.nazwa">
            </label>
            <span class="przycisk" ng-click="dodajKat(nowaKategoria.nazwa)">
                Dodaj
            </span>
        </div>
    </div>
    <div class="centering">
        <!-- CENTERING -->
        TEST
    </div>
    <div class="anotherDiv">
        <div class="alert" ng-show="showAlert" style="background-color: {{colorAlert}}" ng-click="showAlert = false">
            <!-- ALERT -->
            <h2 ng-bind="titleAlert"></h2>
            <span>Klknij w powiadomienie by zamknąć!</span>
        </div>
        <!-- MAIN DIV -->
        <a href="index.htm" class="banner">
            Forum
        </a>
        <div class="navBar">
            <span ng-click="zmienStrone('strona_glowna')">Strona główna</span>
            <span ng-click="zmienStrone('statystyki')">Statystyki</span>
            <span ng-hide="logged">
                <span ng-click="zmienStrone('logowanie')">Zaloguj</span>
            </span>
            <span ng-show="logged" class="test">
                <span ng-click="zmienStrone('profil')">Profil</span>
                <span ng-click="wyloguj()">Wyloguj</span>
            </span>
        </div>
        <div ng-switch="strona">
            <div ng-switch-when="strona_glowna">
                <div class="kategorie">
                    <div class="kategoria">
                        <span class="title">Pierwsza kategoria</span>
                        <span class="data">
                            09.12.1999
                        </span>
                        <span class="last">mrkamis</span>
                    </div>
                    <div class="kategoria">
                        <span class="title">Pierwsza kategoria</span>
                        <span class="data">
                            09.12.1999
                        </span>
                        <span class="last">mrkamis</span>
                    </div>
                    <div class="kategoria">
                        <span class="title">Pierwsza kategoria</span>
                        <span class="data">
                            09.12.1999
                        </span>
                        <span class="last">mrkamis</span>
                    </div>
                    <div class="kategoria">
                        <span class="title">Pierwsza kategoria</span>
                        <span class="data">
                            09.12.1999
                        </span>
                        <span class="last">mrkamis</span>
                    </div>
                    <div class="dodajKategorie">
                        <span class="przycisk" ng-click="dodajKategorie()">
                            Dodaj kategorie
                        </span>
                    </div>
                </div>
            </div>
            <div ng-switch-when="logowanie">
                <!-- LOGOWANIE -->
                <div class="loginForm">
                    Logowanie
                    <br>
                    <label>
                        Login: <input type="text" ng-model="forms.loginLogin">
                    </label>
                    <br>
                    <label>
                        Hasło: <input type="password" ng-model="forms.loginPassword">
                    </label>
                    <button ng-click="login(forms.loginLogin, forms.loginPassword)">Zaloguj</button>
                </div>
                <!-- REJESTRACJA -->
                <div class="registerForm">
                    Rejestracja
                    <br>
                    <label>
                        Login: <input type="text" ng-model="forms.registerLogin">
                    </label>
                    <label>
                        Hasło: <input type="password" ng-model="forms.registerPassword">
                    </label>
                    <label>
                        Powtórz hasło: <input type="password" ng-model="forms.registerRepeatPassword">
                    </label>
                    <button ng-click="register(forms.registerLogin, forms.registerPassword, forms.registerRepeatPassword)">Zarejestruj</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>